.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  height: 100%;
}

.flex-item {
  flex-basis:32%;
  margin: auto;
  margin-bottom: 10px;
}

.container {
  width: 80%;

}

.picture {
  max-height: 100%;
  max-width: 400px;
}